.mainpage h1 
{
  font-size: xx-large;
  color:gray;
  letter-spacing: 1vw;
  font-family: 'Orbitron', sans-serif;
}
.mainpage{
  text-align: center;
}
h3{
  font-family: 'Orbitron',sans-serif;  
}
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
}
.up{
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.arrowup
{
  margin-left: 90%;
  border:0px;
  background-color: transparent;
}